/* เพิ่ม Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --main-color: #cc0000;
    --secondary-color: #ffe5e5;
    --background-color: #fff6f6;
    --font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

h2, h3 {
    color: var(--main-color);
    margin-bottom: 15px;
}

p {
    color: #555;
    line-height: 1.6;
}

img {
    border-radius: 10px;
}
